
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  //grid-template-columns: 2.5fr 6fr;
  grid-template-rows: 1.5fr 10fr 1fr;
  height: 100vh;
  font-family: 'Alata', sans-serif;
  * {
    display: block;
   }
}

body.main {
  grid-template-columns: 2.5fr 6fr;
}

.header {
  font-size: 2.5rem;
  font-weight: 900;
  grid-column: 1 / -1;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2dd4bf;
  color: white;
  border-bottom: 2px solid #000;
  padding: 0 2rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;

    .material-icons-round.check {
      font-size: 2.5rem;
    }

  }

}

.login-component {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr auto 1fr 6fr;
  overflow-y: scroll;
  background-color: #ccfbf1;
  padding: 1rem;

  .home-item, .projects-item {
    // border: 2px solid #000;
    // border-radius: 5px;
    // margin-bottom: 10px;
    margin: 2px;
    display: flex;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0.5rem;
    cursor: pointer;
    //border: 1px solid red;
    align-items: center;
    gap: 1rem;

    .cancel {
      display: none;
      font-size: 1.2rem;
      color: rgba(255, 0, 0, 0.548);
    }
  }

 

  .home-item:hover, .projects-item:hover {
    background-color: rgba(0, 0, 0, 0.061);
    border-radius: 10px;

    .cancel {
      display: block;
    }
  }

  .project-item-text {
    padding-bottom: 5px;
    margin-right: auto;
  }

  .inbox {
    color: rgb(39, 167, 235);
  }

  .today {
    color: indianred;
  }

  .upcoming {
    color: gray;
  }

  .star {
    color: goldenrod;
  }

  .project-icon {
    color: rgb(118, 186, 17);
  }

  .inbox, .today, .upcoming, .star, .project-icon {
    font-size: 2rem;
  }

  .home-heading, .projects-heading {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    border-bottom: 2px solid black;
  }

  > * {
    margin-bottom: 0.5rem;
  }

}

.selected-project {
  background-color: rgba(0, 0, 0, 0.061);
  border-radius: 10px;
}


.open-project-form {
  //margin: 0 auto;
  scale: 75%;
}

.open-form {
  scale: 85%;
}


.footer {
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2dd4bf;
  color: white;
  border-top: 2px solid #000;
}

.main-view {
  // display: grid;
  overflow-y: scroll;
  padding: 1rem;
  // height: 100%;
  > * {
    // border: 3px solid rgb(255, 0, 64);
    margin: 1rem 0;
  }
}

.header-container {
  font-size: 1.5rem;
  margin-top: 0;
  min-height: 12vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #e2e8f0;
  padding-left: 2rem;
  color: #282828;

}

.todo-container {
  padding-bottom: 0;
  font-size: 1.1rem;

  .todo-item {
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .todo-btn {
      cursor: pointer;
    }

    .todo-item-text-container {
      margin-right: auto;

      .todo-item-desc {
        font-size: 0.8rem;
      }
    }

    .calendar {
      font-size: 0.75rem;
      border: 1px solid black;
      border-radius: 5px;
      padding: 3px;
    }

    .cancel {
      color: red;
    }

    .todo-item-checked {
      text-decoration: line-through;
    }

    .checked {
      color: #2dd4bf;
    }

    .starred {
      color: rgb(218, 185, 0);
      content: "star";
    }
    
   }
}

.input-form {
  justify-self: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr;
  padding: 2rem;
  //max-height: 10rem;
  // margin: 1rem 0;
  background-color: #ccfbf1;
  //border: 3px solid #000;
  border-radius: 5px;

  .add-desc-input {
    grid-column: 1/-1;
    font-family: 'Alata', sans-serif;
    padding: 0.3rem;
  }

  .push-task, .edit-task {
    grid-column: 3/4;
  }

  .close-form {
    grid-column: 2/3;
  }

  button {
    max-height: 35px;
  }

}

.project-form {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: #ccfbf1;
  button {
    // background-color: gold;
    max-height: 40px;
  }
}

button{
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background: 0 0;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  padding: 10px 14px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  background-color: #f1f5f9;
}

button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px,-4px);
}
button:focus-visible{
  outline-offset: 1px;
}

input {
  grid-column: 1/-1;
  border: 2px solid #000;
  border-radius: 5px;
  height: 35px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}

input:focus{
  border: 3px solid #5551ff;
}










