@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 2fr 10fr 1fr;
  height: 100vh;
  
  font-family: Roboto, ariel;

  * {
    // border: 1px solid pink;
   }
}
 

.header {
  font-size: 2rem;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2dd4bf;
  color: white;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  overflow-y: scroll;
  background-color: #ccfbf1;
}



.footer {
  grid-column: 1/ -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2dd4bf;
  color: white;
}






